{% extends 'cinemas/base.html' %}
{% load bootstrap5 %}
{% block content %}
    <div class="card">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                    <!-- Default box -->
                        <div class="card">
                            <div class="invoice p-3 mb-3">
                                <h3 class="fas fa-film"> {{ title }}</h3>
                            </div>
                            <div class="card-body">

                                {# Початок #}

                                <form action="{% if edit %}{% url 'film_edit' pk %}
                                                {% else %}{% url 'addfilm' %}{% endif %}"
                                      method="post" enctype="multipart/form-data">
                                <!-- Поля фільму -->
                                {% csrf_token %}
                                {% bootstrap_field film_form.name %}
                                {% bootstrap_field film_form.content %}
                                <div class="row" >
                                    <div class="card-container col-md-2">
                                        <label class="form-label" for="id_big_photo">Головна картинка</label>
                                        <br>
                                        {% if film_form.instance.big_photo %}
                                            <img src="{{ film_form.instance.big_photo.url }}" style="width: 150px; height: 150px;">

                                        {% endif %}
                                        <input type="file" name="big_photo" accept="image/*" title="" id="id_big_photo">
                                    </div>
                                </div>


                                {% bootstrap_field film_form.trailerURL %}
                                <div class="mb-3">
                                    <label class="form-label">Тип кіно</label>
                                    <br>
                                    <div class="form-check form-check-inline">
                                        {% bootstrap_field film_form.type1 %}
                                        {% bootstrap_field film_form.type2 %}
                                        {% bootstrap_field film_form.type3 %}
                                    </div>
                                </div>
                                <!-- Галерея картинок -->
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h5 class="card-title">Галерея картинок:</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row" id="gallery">
                                        {{ photoset.management_form }}
                                    <!-- Перевірка чи вже є завантаженні зображення -->
                                        {% if film_form.instance.gallery and  photoset.total_form_count %}
                                            {% for ph in photoset.forms %}
                                                <div class="card-container col-md-2" id="form-{{ forloop.counter0 }}">
                                                    {{ ph.id }}
                                                    <input type="file" name="form-{{ forloop.counter0 }}-photo" accept="image/*" id="id_form-{{ forloop.counter0 }}-photo">
                                                    <img src="{{ ph.instance.photo.url}}" >
                                                    <button type="button" class="delete-button"> X </button>
                                                </div>
                                            {% endfor %}
                                            <div class="card-container col-md-2" id="form-{{ photoset.total_form_count }}">
                                                <input type="file" name="form-{{ photoset.total_form_count }}-photo" accept="image/*" id="id_form-{{ photoset.total_form_count }}-photo">
                                            </div>
                                        {% else %}
                                            <div class="card-container col-md-2" id="form-0">
                                                <input type="file" name="form-0-photo" accept="image/*" id="id_form-0-photo">
                                            </div>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!-- СЕО -->
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h5 class="m-0">SEO:</h5>
                                    </div>
                                    <div class="card-body">
                                        {% bootstrap_form seo_form %}
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">
                                    {% if edit %} Зберегти зміни {% else %}Добавити фільм{% endif %}</button>
                                </form>
                  </div>
                        </div>
                    <!-- /.card -->
                    </div>
                </div>
            </div>
        </section>
    </div>






{% endblock content %}