          {% for m in menu %}
            {% if m.list %}
          <li class="nav-item">
            <a href="#" class="nav-link active">
              <i class="{{ m.icon }}"></i>
              <p>
                {{m.title}}
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>

                {% for n in m.list %}
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'addfilm' %}" class="nav-link">
                  <i class="nav-icon far fa-plus-square"></i>
                  <p>{{ n }}</p>
                </a>
              </li>
            </ul>
                {% endfor %}
                </li>
              {% else %}
                <li class="nav-item">
            <a href="{%  url m.url %}" class="nav-link">
              <i class="{{ m.icon }}"></i>
              <p>{{m.title}}</p>
            </a>
          </li>
            {% endif %}

           {% endfor %}