{% load static %}
  <script src="{% static 'cinemas/js/vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'cinemas/js/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'cinemas/js/vendor/js-cookie/js.cookie.js' %}"></script>
  <script src="{% static 'cinemas/js/vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
  <script src="{% static 'cinemas/js/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
      {# Іконки до кожного пункту меню #}
  <script src="https://kit.fontawesome.com/ef16f8a4f6.js" crossorigin="anonymous"></script>
